---
layout: layout.liquid
title: Interstellar Explorer
---

<h1><strong>Interstellar Explorer</strong></h1>
<p>Hello there! I am an interstellar traveler who is recording her adventures in space.<br>Please choose an entry below.</p>
<ul>
    <li><a href="/blog1">1-13-25: Through the Rings of Xalona</a></li>
    <li><a href="/blog2">1-26-25: A Silent Encounter</a></li>
</ul>