---
layout: layout.liquid
title: Interstellar Explorer
---

<h1><strong>Interstellar Explorer</strong></h1>
<p>Hello there! I am an interstellar traveler who is recording her adventures in space.<br>Please choose an entry below.</p>
<ul>
    <li><a href="/blog1">1-30-25 Bleep Bloop</a></li>
    <li><a href="/blog2">1-21-25 Bleep Bloop Beep</a></li>
</ul>