:root {
    --lightSand: #dfdcdc;
    --sand: #c6bbb9;
    --lightPlum: #7a748c;
    --plum: #423855;
    --darkPlum: #1c1026;
    --lightJam: #b542bd;
    --jam: #4c1e3c;
    --dark: #21242b;
    --top-bottom-margin: 45px;
    --font-size: 25px;
}

body {
    font-family: Helvetica, Tahoma, sans-serif;
    color: var(--lightSand);
    background: var(--dark);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: var(--plum);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: var(--lightSand);
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 7em;
    letter-spacing: -2px;
    margin-bottom: var(--top-bottom-margin);
}

h1 strong {
    background: var(--sand);
    background: linear-gradient(45deg, var(--lightPlum) 0%, var(--lightJam) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 3.75em;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

p {
    font-size: var(--font-size);
}

ul {
    list-style-type: none;
}

a {
    color: var(--lightJam);
    font-size: var(--font-size);
}

a:visited {
    color: var(--lightPlum);
}

.author {
    margin-top: 10px;
}

.post-date {
    margin-bottom: 20px;
}

.logo {
    opacity: 0.5;
    width: 65px;
    margin-top: var(--top-bottom-margin);
}

.copyright {
    margin-top: -5px;
    font-size: 20px;
    opacity: 0.5;
}